.hr2 {
  color:Black;
}

.hr3 {
  color:LawnGreen;
}

.hr4 {
  color: Indigo;
}

.hr5 {
  color:FireBrick;
}











body {
	background: linear-gradient(-45deg, #FFFF00,  #ffd700,  #daa520);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
image {padding-right: 20px;}
.button {margin:25px;}
a {font-size: 35px}
a {padding-right: 15px;}
